plugins:
  "york-flex": true
  "york-default-theme": true
  "york-behaviors": true
  "york-text": true
  "york-checkbox": true
  "york-button": true
  "york-icon": true
  "york-list": true
  "york-desktop": true